#board {
   color: var(--primary-color);
   font-size: 12px;
   user-select: none;
   cursor: pointer;

   display: grid;
   grid-template-columns: repeat(23, 1fr);
   grid-gap: 1px;

   .cell {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      aspect-ratio: 1;

      &.w {
         background-color: var(--wall-background);
      }

      &.o,
      &.e {
         background-color: var(--open-background);

         &.seen {
            background-color: color-mix(in srgb, var(--open-background), var(--seen-tint))
         }
      }

      &.e.f-n {
         rotate: -90deg;
      }

      &.e.f-w {
         rotate: 180deg;
      }

      &.e.f-s {
         rotate: 90deg;
      }

      &.s,
      &.x,
      &.y {
         background-color: var(--street-background);

         &.seen {
            background-color: color-mix(in srgb, var(--street-background), var(--seen-tint))
         }
      }

      &.t {
         aspect-ratio: unset;
         grid-column: span 5;
         color: var(--title-color);
         background: var(--title-background);
         font-size: clamp(0rem, 5vw, 1rem);

         &::before {
            content: 'FACILITY 83X';
         }
      }

      &.t~.t,
      &.c~.c {
         display: none;
      }

      &.c {
         aspect-ratio: unset;
         background-color: #0000AA;
         grid-column: span 2;
         grid-row: span 2;
         position: relative;

         span {
            position: absolute;
         }

         span:nth-child(1) {
            top: 5px;
         }

         span:nth-child(2) {
            right: 10px;
         }

         span:nth-child(3) {
            bottom: 5px;
         }

         span:nth-child(4) {
            left: 10px;
         }
      }


      $alphabet: A B C D E F G H I J K L M N O P Q R S T U V W X Y Z;

      @each $letter in $alphabet {
         &.#{$letter} {
            background: var(--goal-background);
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--goal-die-color);
            font-size: 30px;

            .index {
               color: var(--goal-index-color);
               font-size: initial;
            }
         }
      }
   }


}

.player {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #AA0000;
   border-radius: 100%;
   z-index: 10;
   aspect-ratio: 1;
}

.car {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #AA0000;
   border-radius: 100%;
   z-index: 10;
}

.insideCar {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: column;
   margin: 5px;
}

.carGrid {
   display: grid;
   grid-gap: 1px;
   width: 100%;
   aspect-ratio: 1;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   border: 1px solid blue;

   background-color: gray;

   .cell {
      background-color: white;
   }
}
